.git
.gitignore

.venv
.venv2
__pycache__
*.pyc
*.pyo
*.pyd

logs
docker/logs
target
dbt_project/target
dbt_project/logs
dbt_packages
logs

airflow-webserver.pid
airflow-scheduler.pid

.ipynb_checkpoints
*.ipynb

data
.streamlit
desktop.ini
.DS_Store