.env
.venv/
.venv2/
__pycache__/
*.py[cod]
*.pyo

logs/
dbt_project/logs/
dbt_project/target/
dbt_project/dbt_packages/
target/

airflow-webserver.pid
airflow-scheduler.pid

.streamlit/secrets.toml
.ipynb_checkpoints/
desktop.ini
.DS_Store
